<li id="message-<%= message.id %>">
    <%# <%= link_to gravatar_for(message.patient, size: 50), message.patient %1> %>
    <span class="user"><%= link_to message.patient.first_name, message.patient %></span>
    <span class="content"><%= message.content %></span>
    <span class="timestamp">
        Posted <%= time_ago_in_words(message.created_at) %> ago.
    </span>
</li>
