<h1><%=t(:create_patient, :scope => :topics)%></h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for @patient, :html => {:class => "form well"} do |p|%>
            <%= render 'common/error_messages', :object => p.object %>
            <%=p.label :first_name%>
            <%=p.text_field :first_name, class: 'form-control'%>
            <%=p.label :last_name%>
            <%=p.text_field :last_name%>
            <%=p.label :email_id%>
            <%=p.text_field :email_id, class: 'form-control'%>
            <%=p.label :phone%>
            <%=p.text_field :phone, class: 'form-control'%>
            <%=p.label :date_of_birth%>
            <%=p.text_field :date_of_birth, class: 'form-control'%>
            <%=p.label :password %>
            <%=p.password_field :password, class: 'form-control'%>
            <%=p.label :password_confirm %>
            <%=p.password_field :password_confirmation, class: 'form-control'%>
            <%=p.submit "Add Patient", :class => "btn btn-primary"%>
        <% end %>
    </div>
</div>
