<h1><%=t(:search_patient, :scope => :topics)%></h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for :patient, :url => searchPatients_path , :remote => true, :html => {:class => "form well",  :id => "searchForm"} do |p|%>
            <%=p.label :patient%>
            <%=p.text_field :patient_id, class: 'form-control'%>
            <%=p.label :email_id%>
            <%=p.text_field :email_id, class: 'form-control'%>
            <%=p.label :first_name%>
            <%=p.text_field :first_name, class: 'form-control'%>
            <%=p.label :last_name%>
            <%=p.text_field :last_name, class: 'form-control'%>
            <%=p.submit :search, class: "btn btn-primary"%>
        <% end %>
    </div>
</div>

<div id="patientIndexId">
    <%= render 'patients/patient', :patients => @patients%>
</div>
