<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for @user_patient, :url => {:controller => :user_patients, :action => :update}, :remote => true, :html => {:class => "form well"} do |up|%>
            <%= render 'common/error_messages', :object => up.object %>
            <%=up.label :comments%>
            <%=up.text_area :comments%>
            <%=up.label :amount%>
            <%=up.text_field :amount%>
            <%= up.hidden_field :patient_id%>
            <%= up.hidden_field :user_id%>
            <%= up.hidden_field :comment_type_id%>
            <%= up.hidden_field :id%>
            <%=up.submit "Edit", :class => "btn btn-primary"%>
        <% end %>
    </div>
</div>
